#trade-stats-header {
    position: absolute;
    left: 247px; top: 47px;
    font-size: 28px;
    font-family: Helvetica;
    color: #343434;
}

#trade-stats-divider {
    position: absolute;
    left: 341px; top: 146px;
    width: 1px; height: 40px;
    font-size: 20px;
    background-color: #C8C8C8;
}

#week {
    position: absolute;
    left: 248px; top: 95px;
    font-size: 20px;
    font-family: Helvetica;
    color: #343434;
}

#weekly-profit-loss-subheader {
    position: absolute;
    left: 254px; top: 125px;
    font-size: 14px;
    font-family: Helvetica;
    color: #343434;
}

#weekly-profit-loss {
  position: absolute;
  left: 240px; top: 142px;
  width: 95px;
  font-size: 33px;
  font-family: Helvetica;
  color: green;
  text-align: center;
}

#trades-subheader {
    position: absolute;
    left: 379px; top: 125px;
    font-size: 14px;
    font-family: Helvetica;
    color: #343434;
}

#success {
  position: absolute;
  left: 361px; top: 149px;
  font-size: 13px;
  font-family: Helvetica;
  color: #9F9F9F;
}

#success-qty {
  position: absolute;
  left: 346px; top: 137px;
  font-size: 24px;
  font-family: Helvetica;
  color: green;
}

#success-val {
  position: absolute;
  left: 416px; top: 147px;
  font-size: 15px;
  font-family: Helvetica;
  color: green;
}

#failed {
  position: absolute;
  left: 361px; top: 173px;
  font-size: 13px;
  font-family: Helvetica;
  color: #9F9F9F;
}

#failed-qty {
  position: absolute;
  left: 346px; top: 161px;
  font-size: 24px;
  font-family: Helvetica;
  color: #900D0C;
}

#failed-val {
  position: absolute;
  left: 416px; top: 171px;
  font-size: 15px;
  font-family: Helvetica;
  color: #900D0C;
}