#date-container {
    position: absolute;
    background: white;
    border-radius: 0px 0px 16px 16px;
    width: 269px;  height: 55px;
    left: 315px;
    box-shadow: 0px -0px 15px rgba(0,0,0,0.16);
  }

#play {
    position: absolute;
    height: 40px;
    left: 13px;  top: 8px;
    fill: #8EB18D;
    cursor: pointer;
}
#play:active {
    fill: rgb(76, 102, 75);
}

#pause {
    position: absolute;
    height: 40px;
    left: 13px;  top: 8px;
    fill: rgb(211, 102, 102);
    cursor: pointer;
}
#pause:active {
    fill: rgb(133, 58, 58);
}

#date {
    position: relative;
    font-size: 36px;
    left:70px;  top: 0px;
    font-family: Helvetica;
    color: #343434;
}